body {
  background-color: #fcf3ec;
  font-family: 'Segoe UI', sans-serif;
  color: #3a3a3a;
  margin: 40px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #8e44ad;
  font-weight: bold;
}