/* ====== Estilos base ====== */
:root {
  --fuente-titular: 'Kanit', sans-serif;
  --fuente-texto: 'Inter', sans-serif;
}
body {
  font-family: var(--fuente-texto);
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2, h3 {
  font-family: var(--fuente-titular);
  
}
/* ====== Header ====== */

.franja-superior {
  width: 100%;
}

/* Franja amarilla con línea azul */
.amarillo {
  background-color: #E9D300; /* amarillo pastel */
  height: 21px;
}

.header {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente si hay altura */
  height: 100px;           /* Ajusta según tu diseño */
  background-color: black;
  
}

.etiqueta {
  background-color: #f5eaea;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-size: 10.5rem;
  font-weight:bolder;
  padding: 2px 80px;
  border: 10px solid black;
  
  
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.header-content h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-content p {
  margin: 10px 0 0;
  font-size: 0,7em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* ====== Navbar ====== */
nav {
  background-color: #FB01A9;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  font-weight:400;
  margin-right: 20px;
}

nav ul li a.sign-up {
  background-color: #000;
  font-family: var(--fuente-titular);
  color: #E9D300;
  padding: 5px 15px;
  border-radius: 50px;
}

/* ====== Sección TRADE ====== */
.trade {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #E9D300;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFDE75; /* amarillo pastel */
  padding: 5px;
  overflow: hidden;
  border-top: 6px solid hotpink; /* franja rosa */
  gap: 10px; /* separación entre cajas */
}


.carousel-track {
  display:flex;
  gap: 20px;
  animation: scroll 10s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: 600px;
  height: 280px;
  margin-right: 1px;
  background-color: white;
  border: 2px solid #E9D300;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

/* 🎞️ Animación */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
footer {
  background: linear-gradient(to bottom, #E9D300 10%, #E9D300 20%, #E9D300 100%);
  color: black;
  text-align: center;
  padding: 20px 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  border-top: 6px solid #EFDE75;
}
.amarillobb {
  background-color: #EFDE75; /* amarillo pastel */
  height: 500px;
}